.card-style{
  border: 1px solid black;
  margin: 30px;
}
.card-heading{
  color: grey;
  text-decoration: solid;
  text-transform: capitalize;
}
.card-body{
  color: black;
  font-style:initial;
  font-size: 32px;
}
.green{
  color: green;
}
.red{
  color: red;
}